#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.section {
}

.section > form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.section > table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100%;
}

.section > table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
}
